<div class="dashboard">
  <h1>Angular Fire Auth Demo</h1>
  <h3>Welcome to Our Dashboard!</h3>
  <h2>Email id : {{ userEmail }}</h2>

  <button mat-raised-button color="warn" (click)="onDeleteUserBtnClick()">
    Delete User
  </button>

  <br />

  <button mat-raised-button color="accent" (click)="onUpdatePasswordBtnClick()">
    Update Password
  </button>

  <br />

  <button mat-raised-button color="primary" (click)="onUpdateEmailBtnClick()">
    Update Email
  </button>

  <br />

  <button mat-raised-button color="warn" (click)="onLogOutBtnClick()">
    Log Out
  </button>
</div>
